In [16]:
import requests
from rest_framework import status
import json
import pandas

WORKDIR = 'C:/Users/BZ241WX/Documents/InfNet/CursoPosDataScience/mit_data_science/'


supplier_name = 'Vinhos e Vinhos'

supplier_data = WORKDIR + '/Data/Raw/winequality-red-op.parquet'

number_of_wines = 150

base_url = 'http://127.0.0.1:8000/'

# Recuperar Dados

In [17]:
data = pandas.read_parquet(supplier_data).sample(number_of_wines)
print(data.shape)
data.head()

(150, 12)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,name
1372,8.7,0.780,0.51,1.7,0.415,12.0,66.0,0.99623,3.00,1.17,9.2,wine-red1372
352,7.7,0.665,0.00,2.4,0.090,8.0,19.0,0.99740,3.27,0.73,9.3,wine-red352
1155,8.3,0.600,0.25,2.2,0.118,9.0,38.0,0.99616,3.15,0.53,9.8,wine-red1155
698,9.4,0.615,0.28,3.2,0.087,18.0,72.0,1.00010,3.31,0.53,9.7,wine-red698
1040,7.4,0.965,0.00,2.2,0.088,16.0,32.0,0.99756,3.58,0.67,10.2,wine-red1040

# Post data

In [18]:
url = base_url + 'wine/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    post_data['supplier'] = supplier_name
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Vinho ja existente')