In [1]:
import requests
import pandas as pd
import pickle
import json
import snappy
import sys
from urllib.parse import urlencode

In [2]:
notebook_path_exit = '../../Code/Operationalization/05_dataframe_exit.ipynb'

### <span style="color:#C71585">**1. Diretório Mapeado**</span>

In [3]:
save_file = '../../Data/Operacao/dados_coleta.parquet'

### <span style="color:#C71585"> **2. Upload de variavel para pesquisa de dados na API**</span>

In [4]:
# baseurl = 'http://localhost:8000/services/dadoscoleta/?dat_inicio=01/08/2020&dat_fim=15/08/2020'

%store -r baseurl
baseurl

### <span style="color:#C71585"> **3. Upload de Dados via API**</span>

In [5]:
print('=> Recuperando dados da API')
response = requests.get(baseurl)
print(response)
print('')

=> Recuperando dados da API
<Response [200]>

### <span style="color:#C71585"> **4. Visualizar dados da API**<span>

In [6]:
obj = json.loads(response.text)
dataframe =  pd.DataFrame.from_dict(obj)

In [7]:
if (dataframe.empty) :
    print('')
    print('!!!!!!!!!!!!!!!')
    print('DATAFRAME VAZIO')
    print('!!!!!!!!!!!!!!!')   
    print('Nenhum procedimento executado!!')  
    sys.exit(0)
  
else:    
    print('shape:', dataframe.shape)
    #print('columns:', dataframe.columns)

shape: (263, 4)

### <span style="color:#C71585"> **5. Adequaçao do Dataframe** </span>

In [8]:
#Remove apenas as colunas dentro do ['','']
#dataframe = dataframe.drop(columns=['nome','secao','dat_publicacao','categoria'])

# Remove todas as colunas com exceção de ['','']
# -------------------------------------------------
dataframe.drop(dataframe.columns.difference(['id','dsc_manutencao','tip_evento']), 1, inplace=True)

### <span style="color:#C71585"> **6.Preparação dos Dados**</span>

#### <span style="color:#1C1C1C">**6.1. Remove linhas nulas no Dataframe**</span>

In [9]:
dataframe = dataframe.dropna()

#### <span style="color:#1C1C1C">**6.2. Remove linhas duplicatas no Dataframe**</span>

In [10]:
dataframe = dataframe.drop_duplicates()

### <span style="color:#C71585"> **7.Vista do Dataframe**</span>

In [11]:
dataframe.head()

       id                                     dsc_manutencao tip_evento
0  835269      VERIFICAR A CAUSA DO DESLIGAMENTO DA UNIDADE.       oper
1  835267  Ensaios operacionais de retorno da UG-8 ao sis...       oper
2  835263   Manutenção, inspeção e limpeza no anel coletor         oper
3  835261  Passivação do óleo do Transformador Elevador T...       oper
4  835241  Acompanhamento da Operação do Bipolo 2 em RVO ...       oper

### <span style="color:#C71585">**8. Tratamento de Caracteres**</span>

#### <span style="color:#1C1C1C">**8.1 Converte para Letras Minusculas** </span>

In [12]:
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.lower()

#### <span style="color:#1C1C1C">**8.2 Limpeza do texto** </span>

In [13]:
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'-',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r':',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'.',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r';',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'/',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'<p>',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'</p>',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('$',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('§',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('%',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('&',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('#',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('*',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('!',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace('?',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'º',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ª',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'²',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'°',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'à','a')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ã','a')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'á','a')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'â','a')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'é','e')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ê','e')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'í','i')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ì','i')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ó','o')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ô','o')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'õ','o')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ú','u')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ü','u')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'ç','c')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'[',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r']',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'{',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'}',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'(',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r')',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'<',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'>',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'1',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'2',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'3',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'4',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'5',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'6',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'7',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'8',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'9',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'0',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'@\S+',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'@','at')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'http\S+',' ')
dataframe['dsc_manutencao'] = dataframe['dsc_manutencao'].str.replace(r'http',' ')

### <span style="color:#C71585">**9. Exporta resultado para Parquet**</span>

In [14]:
dataframe.to_parquet(save_file, compression='snappy')