In [1]:
import sqlite3
import pandas as  pd
import numpy as np
import datetime
import os

### <span style="color:#9932CC">**1. Diretórios Mapeados**</span>

In [2]:
result_file ='../../Data/Modeling/score_sin.parquet'

path_database = '../../Code/Operationalization/db.sqlite3'

### <span style="color:#9932CC">**2. Leitura dos dados tratados**</span>

In [3]:
dataframe = pd.read_parquet(result_file)
dataframe.head(2)

,id_sin,dsc_texto,tip_supervisao,din_execucao,tip_evento,tip_predicao,pct_predicao
0,801877,substituicao do mangote da linha de fechament...,oper,2020-09-07 01:21:08.006362,True,True,100.0
1,801878,correcao de ponto quente lado fonte barra ...,oper,2020-09-07 01:21:08.006362,True,True,27.0

### <span style="color:#9932CC">**3. Parametros Query: Data**</span>

In [4]:
df_data = pd.DataFrame(data=dataframe.din_execucao.astype(str))
df_data = df_data.min()

array_df_data = df_data.to_numpy()
array_df_data

array(['2020-09-07 01:21:08.006362'], dtype=object)

### <span style="color:#9932CC">**3. Conversao para Array de Dataframe Completo**</span>

In [5]:
array_dataframe = dataframe.to_numpy()

### <span style="color:#9932CC">**4. Salva Dados em Database**</span>

In [6]:
sqliteConnection = sqlite3.connect(path_database)

cursor = sqliteConnection.cursor()
print("Conectado com sucesso ao SQLite")


#Insere informações no banco de dados
try:
    sqlite_insert_query = """INSERT INTO applications_dadosretreino(id_sin,dsc_texto,tip_supervisao,din_execucao,tip_evento,tip_predicao,pct_predicao) 
                             VALUES  (?, ?, ?, ?, ?, ? , ?) """

    cursor.executemany(sqlite_insert_query, array_dataframe)
    sqliteConnection.commit()
    print("Total(Teste-Treino) de registros Inseridos: ", cursor.rowcount)
    
    sqlite_update_query = """UPDATE applications_dadosretreino set pct_predicao = CAST(CAST(pct_predicao AS DECIMAL(4,2)) AS VARCHAR(10))"""
    cursor.execute(sqlite_update_query)
    sqliteConnection.commit()   
    
    cursor.close()
               
except sqlite3.Error as error:
    print("Falha ao inserir registros no database", error)
finally:
   if (sqliteConnection):
       sqliteConnection.close()
   print("Conexão com SQLite fechada")

Conectado com sucesso ao SQLite
Total(Teste-Treino) de registros Inseridos:  4998
Conexão com SQLite fechada

### <span style="color:#9932CC">**5. Salva Dados em Resultado**</span>

In [7]:
sqliteConnection = sqlite3.connect(path_database)

cursor = sqliteConnection.cursor()
print("Conectado com sucesso ao SQLite")

try:
    
    # BLOCO 1 - TRUE x TRUE
    # ---------------------------------
    sqlite_select_tt_query = """SELECT COUNT(*) as total_tt from applications_dadosretreino 
                          WHERE tip_evento = 'True' and tip_predicao = 'True' and din_execucao = ? """
 
    cursor.execute(sqlite_select_tt_query, array_df_data)
    (total_tt,) = cursor.fetchone()
    a = np.array(total_tt)
    array_tt = np.append(array_df_data, a)  
       
    sqlite_insert_query = """INSERT INTO applications_dadosestatistica(din_execucao,dsc_predicao,qtd_registro) 
                             VALUES  (?, 'True - True', ? ) """
    
    cursor.execute(sqlite_insert_query, array_tt)
    sqliteConnection.commit()
    print("Total(Estatistica T-T) de registros Inseridos: ", cursor.rowcount)
    
    
     # BLOCO 2 - TRUE x FALSE
     # ---------------------------------
    sqlite_select_tf_query = """SELECT COUNT(*) as total_tf from applications_dadosretreino 
                          WHERE tip_evento = 'True' and tip_predicao = 'False' and din_execucao = ? """
 
    cursor.execute(sqlite_select_tf_query, array_df_data)
    (total_tf,) = cursor.fetchone()
    b = np.array(total_tf)
    array_tf = np.append(array_df_data, b)  

    sqlite_insert_query = """INSERT INTO applications_dadosestatistica(din_execucao,dsc_predicao,qtd_registro) 
                             VALUES  (?, 'True - False', ? ) """
    
    cursor.execute(sqlite_insert_query, array_tf)
    sqliteConnection.commit()
    print("Total(Estatistica T-F) de registros Inseridos: ", cursor.rowcount)
    
    
     # BLOCO 3 - FALSE x TRUE
     # ---------------------------------
    sqlite_select_ft_query = """SELECT  COUNT(*) as total_ft from applications_dadosretreino 
                          WHERE tip_evento = 'False' and tip_predicao = 'True' and din_execucao = ? """
 
    cursor.execute(sqlite_select_ft_query, array_df_data)
    (total_ft,) = cursor.fetchone()
    c = np.array(total_ft)
    array_ft = np.append(array_df_data, c) 
    
    sqlite_insert_query = """INSERT INTO applications_dadosestatistica(din_execucao,dsc_predicao,qtd_registro) 
                             VALUES  (?, 'False - True', ? ) """
    
    cursor.execute(sqlite_insert_query, array_ft)
    sqliteConnection.commit()
    print("Total(Estatistica F-T) de registros Inseridos: ", cursor.rowcount)
    
    
     # BLOCO 4 - FALSE x FALSE
     # ---------------------------------
    sqlite_select_ff_query = """SELECT  COUNT(*) as total_ff from applications_dadosretreino 
                          WHERE tip_evento = 'False' and tip_predicao = 'False' and din_execucao = ? """
 
    cursor.execute(sqlite_select_ff_query, array_df_data)
    (total_ff,) = cursor.fetchone()
    d = np.array(total_ff)
    array_ff = np.append(array_df_data, d) 
    
    sqlite_insert_query = """INSERT INTO applications_dadosestatistica(din_execucao,dsc_predicao,qtd_registro) 
                             VALUES  (?, 'False - False', ? ) """
    
    cursor.execute(sqlite_insert_query, array_ff)
    sqliteConnection.commit()
    print("Total(Estatistica F-F) de registros Inseridos: ", cursor.rowcount)
       
    cursor.close()

except sqlite3.Error as error:
    print("Falha em INSERT no database", error) 
  
    
finally:
   if (sqliteConnection):
        sqliteConnection.close()  
        print("Ação Finalizada")  
        print("")
        print("")

Conectado com sucesso ao SQLite
Total(Estatistica T-T) de registros Inseridos:  1
Total(Estatistica T-F) de registros Inseridos:  1
Total(Estatistica F-T) de registros Inseridos:  1
Total(Estatistica F-F) de registros Inseridos:  1
Ação Finalizada