In [1]:
import requests
import pandas as pd
import pickle
import json
import snappy
import sys
from urllib.parse import urlencode

In [ ]:
#notebook_path_exit = '../../Code/Operationalization/05_dataframe_exit.ipynb'

### <span style="color:#C71585">**1. Diretório Mapeado**</span>

In [2]:
save_file = '../../Data/Operacao/dados_coleta.parquet'

### <span style="color:#C71585"> **2. Upload de variavel para pesquisa de dados na API**</span>

In [3]:
#baseurl = 'http://localhost:8000/services/coleta/?dat_inicio=01/08/2020&dat_fim=04/08/2020'

% store -r baseurl
baseurl

### <span style="color:#C71585"> **3. Upload de Dados via API**</span>

In [4]:
print('=> Recuperando dados da API')
response = requests.get(baseurl)
print(response)
print('')

=> Recuperando dados da API
<Response [200]>

### <span style="color:#C71585"> **4. Visualizar dados da API**<span>

In [5]:
obj = json.loads(response.text)
dataframe =  pd.DataFrame.from_dict(obj)

In [8]:
if (dataframe.empty) :
    print('')
    print('!!!!!!!!!!!!!!!')
    print('DATAFRAME VAZIO')
    print('!!!!!!!!!!!!!!!')   
    print('Nenhum procedimento executado!!')  
    sys.exit(0)
  
else:    
    print('shape:', dataframe.shape)
    #print('columns:', dataframe.columns)

shape: (26, 3)

In [7]:
 dataframe.head()

,id,din_evento,dsc_texto
0,832897,01/08/2020 08:37:24,DESLIGAMENTO INVOLUNTÁRIO DA UNIDADE GERADORA ...
1,832899,01/08/2020 10:26:45,SERÁ REALIZADO MANUTENÇÃO CORRETIVA NO TRANSFO...
2,832952,02/08/2020 21:42:53,Manutenção corretiva da Linha 04 - ME na UHE S...
3,832955,03/08/2020 00:31:55,UG 17 Grupo 03 – Hora inicial: 00:00h Final: ...
4,832971,03/08/2020 09:36:55,Substituição de equipamento da rede de comunic...

### <span style="color:#C71585"> **5. Adequaçao do Dataframe** </span>

In [9]:
#Remove apenas as colunas dentro do ['','']
#dataframe = dataframe.drop(columns=['nome','secao','dat_publicacao','categoria'])

# Remove todas as colunas com exceção de ['','']
# -------------------------------------------------
dataframe.drop(dataframe.columns.difference(['id','dsc_texto']), 1, inplace=True)

### <span style="color:#C71585"> **6.Preparação dos Dados**</span>

#### <span style="color:#1C1C1C">**6.1. Remove linhas nulas no Dataframe**</span>

In [10]:
dataframe = dataframe.dropna()

#### <span style="color:#1C1C1C">**6.2. Remove linhas duplicatas no Dataframe**</span>

In [11]:
dataframe = dataframe.drop_duplicates()

### <span style="color:#C71585"> **7.Vista do Dataframe**</span>

In [12]:
dataframe.head()

       id                                          dsc_texto
0  832897  DESLIGAMENTO INVOLUNTÁRIO DA UNIDADE GERADORA ...
1  832899  SERÁ REALIZADO MANUTENÇÃO CORRETIVA NO TRANSFO...
2  832952  Manutenção corretiva da Linha 04 - ME na UHE S...
3  832955  UG  17 Grupo 03 – Hora inicial: 00:00h Final: ...
4  832971  Substituição de equipamento da rede de comunic...

### <span style="color:#C71585">**8. Tratamento de Caracteres**</span>

#### <span style="color:#1C1C1C">**8.1 Converte para Letras Minusculas** </span>

In [13]:
dataframe['dsc_texto'] = dataframe['dsc_texto'].str.lower()

#### <span style="color:#1C1C1C">**8.2 Limpeza do texto** </span>

In [14]:
# Criação de função e chamada da mesma

def corrigir_nomes(nome):
    nome = nome.replace('0',' ').replace('1',' ').replace('2',' ').replace('3',' ').replace('4',' ').replace('5',' ').replace('6',' ').replace('7',' ')
    nome = nome.replace('º',' ').replace('ª',' ').replace('²',' ').replace('°',' ').replace('8',' ').replace('9',' ').replace('ô','o').replace('õ','o')
    nome = nome.replace('à','a').replace('ã','a').replace('á','a').replace('â','a').replace('é','e').replace('ê','e').replace('í','i').replace('ó','o')
    return nome

dataframe['dsc_texto'] = dataframe['dsc_texto'].apply(corrigir_nomes)

# Uso de função de substituição de teste, estilo FIND - SUBSTITUIR

dataframe['dsc_texto'] = dataframe['dsc_texto'].str.replace(r'[^\w\s]+', ' ')
dataframe['dsc_texto'] = dataframe['dsc_texto'].str.replace(r'ú','u')
dataframe['dsc_texto'] = dataframe['dsc_texto'].str.replace(r'ü','u')
dataframe['dsc_texto'] = dataframe['dsc_texto'].str.replace(r'ç','c')

### <span style="color:#C71585">**9. Exporta resultado para Parquet**</span>

In [15]:
dataframe.to_parquet(save_file, compression='snappy')