In [13]:
import requests
from rest_framework import status
import json
import pandas

WORKDIR = 'C:/Users/BZ241WX/Documents/InfNet/CursoPosDataScience/mit_data_science/'


supplier_name = 'Vinhos e Vinhos'

supplier_data = WORKDIR + '/Data/Raw/winequality-red-op.parquet'

number_of_wines = 200

base_url = 'http://127.0.0.1:8000/'

# Recuperar Dados

In [14]:
data = pandas.read_parquet(supplier_data).sample(number_of_wines)
print(data.shape)
data.head()

(200, 12)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,name
595,8.9,0.595,0.41,7.9,0.086,30.0,109.0,0.99980,3.27,0.57,9.3,wine-red595
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.5,wine-red26
911,9.1,0.280,0.46,9.0,0.114,3.0,9.0,0.99901,3.18,0.60,10.9,wine-red911
286,12.0,0.450,0.55,2.0,0.073,25.0,49.0,0.99970,3.10,0.76,10.3,wine-red286
476,9.3,0.270,0.41,2.0,0.091,6.0,16.0,0.99800,3.28,0.70,9.7,wine-red476

# Post data

In [15]:
url = base_url + 'wine/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    post_data['supplier'] = supplier_name
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Vinho ja existente')