In [7]:
import requests
from rest_framework import status
import json
import pandas

WORKDIR = 'C:/Users/Paulo/Desktop/infnet-projeto-final/mit_data_science/'


taxi_data = WORKDIR + '/Data/Processed/nyctaxi_data_analysis_green.parquet'

number_of_taxis = 40

base_url = 'http://127.0.0.1:8000/'

# Recuperar Dados

In [8]:
data = pandas.read_parquet(taxi_data).sample(number_of_taxis)
data['idTaxi'] = data['pickup_latitude'].astype(str)+'_'+data['pickup_longitude'].astype(str)+'_'+data['day_of_year'].astype(str)+'_'+data['year'].astype(str)
print(data.shape)
data.head()

(40, 13)

,dropoff_latitude,dropoff_longitude,fare_amount,passenger_count,pickup_latitude,pickup_longitude,hour_of_day,day_of_week,day_of_year,year,eucl_distance,manh_distance,idTaxi
5888,40.767437,-73.922501,5.0,1,40.756371,-73.929276,3,0,195,2014,1.356814,1.984489,5888
6108,40.752586,-73.854912,8.5,1,40.742725,-73.851051,19,1,302,2013,1.144062,1.526236,6108
6466,40.754288,-73.867355,5.5,5,40.750500,-73.876678,19,5,348,2013,0.891432,1.458347,6466
6573,40.731842,-73.855812,17.0,1,40.744621,-73.911301,14,2,352,2013,4.887760,7.593418,6573
5210,40.869026,-73.915894,8.0,2,40.853741,-73.930428,22,0,188,2014,2.094165,3.316817,5210

In [9]:
data.dtypes

dropoff_latitude     float64
dropoff_longitude    float64
fare_amount          float64
passenger_count        int32
pickup_latitude      float64
pickup_longitude     float64
hour_of_day            int64
day_of_week            int64
day_of_year            int64
year                   int64
eucl_distance        float64
manh_distance        float64
idTaxi                 int64
dtype: object

# Post data

In [10]:
url = base_url + 'taxi/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Tarifa ja existente')

In [9]:
post_data

{'dropoff_latitude': 40.83982467651367,
 'dropoff_longitude': -73.8880386352539,
 'fare_amount': 3.5,
 'passenger_count': 1.0,
 'pickup_latitude': 40.84058380126953,
 'pickup_longitude': -73.88155364990234,
 'hour_of_day': 11.0,
 'day_of_week': 3.0,
 'day_of_year': 303.0,
 'year': 2014.0,
 'eucl_distance': 0.5522015687354498,
 'manh_distance': 0.8057611591449191,
 'idTaxi': 5451.0}