In [5]:
import requests
from rest_framework import status
import json
import pandas

WORKDIR = 'C:/Users/Paulo/Desktop/infnet-projeto-final/mit_data_science/'


taxi_data = WORKDIR + '/Data/Processed/nyctaxi_data_analysis_green.parquet'

number_of_taxis = 10

base_url = 'http://127.0.0.1:8000/'

# Recuperar Dados

In [12]:
data = pandas.read_parquet(taxi_data).sample(number_of_taxis)
data['idTaxi'] = data.index.values
print(data.shape)
data.head()

(10, 13)

,dropoff_latitude,dropoff_longitude,fare_amount,passenger_count,pickup_latitude,pickup_longitude,hour_of_day,day_of_week,day_of_year,year,eucl_distance,manh_distance,idTaxi
5501,40.672050,-73.976433,9.5,1,40.685905,-73.978653,20,1,91,2014,1.552425,1.788035,5501
5644,40.714436,-73.956787,3.0,1,40.716019,-73.961998,3,0,167,2014,0.473294,0.755693,5644
6684,40.798573,-73.939537,7.0,1,40.856762,-73.895355,21,0,364,2013,7.464565,11.386733,6684
6497,40.725105,-73.812637,11.0,1,40.721687,-73.844177,16,2,345,2013,2.685781,3.888360,6497
5096,40.768581,-73.989296,14.0,1,40.804802,-73.966110,23,5,18,2014,4.477061,6.607751,5096

In [13]:
data.dtypes

dropoff_latitude     float64
dropoff_longitude    float64
fare_amount          float64
passenger_count        int32
pickup_latitude      float64
pickup_longitude     float64
hour_of_day            int64
day_of_week            int64
day_of_year            int64
year                   int64
eucl_distance        float64
manh_distance        float64
idTaxi                 int64
dtype: object

# Post data

In [14]:
url = base_url + 'taxi/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Tarifa ja existente')

In [9]:
post_data

{'dropoff_latitude': 40.83982467651367,
 'dropoff_longitude': -73.8880386352539,
 'fare_amount': 3.5,
 'passenger_count': 1.0,
 'pickup_latitude': 40.84058380126953,
 'pickup_longitude': -73.88155364990234,
 'hour_of_day': 11.0,
 'day_of_week': 3.0,
 'day_of_year': 303.0,
 'year': 2014.0,
 'eucl_distance': 0.5522015687354498,
 'manh_distance': 0.8057611591449191,
 'idTaxi': 5451.0}